/* #region Spaces */
$spacing-md: 12px;
$spacing-lg: 32px;
$spacing-xl: 64px;
$border-radius: 8px;

/* #region Fonts */
$text-font: 'Quicksand', sans-serif;
$title-font: 'Rubik Dirt', cursive;
$font-size-xs: 8px;
$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 24px;
$font-size-ll: 32px;
$font-size-xl: 64px;

/* #region Colors */
$color-primary: #604fcd;
$color-primary-variant-white: #cbc9d9;
$color-primary-variant-lighterer: #a9a6bd;
$color-primary-variant-lighter: #8480a0;
$color-primary-variant-light: #3f3a5a;
$color-primary-variant-dark: #282339;
$color-primary-variant-darker: #211d2f;
$color-secondary: #130b43;
$background-light: #fbfcfe;