@import "_constants.scss";

.GameOfLife {
	width: 100%;
	margin: $spacing-lg;
	padding: $spacing-lg;
	background-color: $color-primary-variant-dark;
	border-radius: $border-radius;
	border: 1px solid $color-primary-variant-white;
	color: white;

	.describer {
		margin-bottom: $spacing-lg;

		.title {
			margin-bottom: $spacing-md;
			color: $color-primary-variant-lighterer;
		}
		
		.title-primary {
			font-size: $font-size-ll;
			font-weight: 700;
		}
		
		.title-secondary {
			font-size: $font-size-lg;
		}
	}

	.board {
		margin: $spacing-md auto;
		padding: 0.5px;
		width: max-content;
		background-color: $color-primary-variant-lighter;
		box-shadow: 0 0 #0000, 0 0 #0000, $shadow-lg;

		.table-row {
			display: flex;
		}
		
		.table-cell {
			margin: 0.5px;
		}
		
		.living {
			// background-color: #b7eb8f;
			background-color: #ffadd2;
			transition: all 200ms ease-in;
		}
		
		.newborn {
			// background-color: #f6ffed;
			background-color: #fff0f6;
			transition: all 200ms ease-in;
		}
		
		.dead {
			background-color: $color-primary-variant-darker;
			transition: all 200ms ease-in;
		}
		
		.fade-in {
			opacity: 1;
			transition: all 200ms ease-in;
		}
	}
}